@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    font-family: 'Source Sans Pro', sans-serif; /* to change */
}

.states {
    stroke: #e0cabc;
    stroke-width: 0.5;
}


h2 {
    text-align: center;
}

.graph1{
    display: inline-block;
    vertical-align: top;
}


.graph2{
    display: inline-block;
    vertical-align: top;
}


.graph3{
    display: inline-block;
    vertical-align: top;
}


.graph4{
    display: inline-block;
    vertical-align: top;
}


.graph5{
    display: inline-block;
    vertical-align: top;
    margin-left: 8%;
}

.graph6{
    display: inline-block;
    vertical-align: top;
    margin-left: 3%;
}

#ethnicity{
    text-align:center;
}

#places{
    text-align:center;
}
